h1{
color:#000058;
}

#print{ 
position:relative;
margin-left:4%;
margin-top:2mm;
width:95%; 
font-size:14px;
}

#name,#pass,#mail{
width:95%;
height:13mm;
color:gray;
text-align:center;
margin-top:4%;
font-size:16px;
margin-left:6%;
}

#LoginBtn,#retrieveBtn,#BckBtn{
margin-top:4%;
margin-left:6%;
width:40%;
height:10mm;
}
#LoginBtn{
background:#ff123c;
color:black;
font-weight:bold;
font-size:16px;
border: solid white 1px;
}
#LoginBtn:hover{
background:#cc123c;
}
#links{
margin-top:4%;
margin-left:6%;
color:gray;
}

#err{
margin-left:6%;
color:green;
font-size:20px;
}
#retrieve,#join,#showpass{
margin-left:6%;
}

#join{
background:yellow;
}
a{
color:blue;
}
a:visited{
color:blue;
}
a:hover{
color:orange;
}
#data{ 
display:block;  
position:absolute;           
color:#00000c; 
background:#feffff;
text-align:justify;
margin:0;
width:90%;
       
}

#write{
margin-left:6%;
}

#abt{ 
display:block;  
position:absolute;           
font-size:13px;
font-familly:candara;
color:#000059; 
background:#ffefBB;
text-align:justify;
margin-left:55%;
margin-top:9%;
width:43%;
}
#abtTxt{ 
margin-left:5mm;
margin-top:2mm;
width:40%; 
}

